<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Attendance</title>

    <link th:replace="fragments :: css"/>

</head>
<body>
<div class="container">
    <div th:replace="fragments :: header"></div>
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">Courses</div>


        <!-- Table -->
        <table class="table table-striped table-hover">

            <tr>
                <th>Course</th>
                <th>Enrolled Students</th>
                <th>Period</th>
            </tr>
            <tr th:each="c: ${courseOffering}">
                <td><a th:href="@{/attendance/} + ${c.id}" th:text="${c.course}"></a></td>
                <td th:text="${c.enrolled}"></td>
                <td th:text="${c.period}"></td>
            </tr>

        </table>
    </div>

</div>

<script th:replace="fragments :: js"></script>

</body>
</html>